@charset "UTF-8";

/*background stuff*/
 body {
    background-color: rgb(32,32,32);
}

/*door setting*/
div.button a{
    color: rgb(245, 245, 245) ;
    background-color: red;
    margin-left: 200px;
    margin-top: 300px;
    width: 75px;
    cursor: help;
    text-decoration: none;
}