@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yarndings+12&display=swap');

/*background stuff*/
 body {
    font-family: "Silkscreen", sans-serif;
    background-color: rgb(32,32,32);
}

/*door setting*/
div {
    margin: auto;
    height: auto;
    width: 600px;
}

div.button a{
    color: red;
    font-size: 20px;
    width: 75px;
    cursor: help;
    text-decoration: none;
}

div.button-dead a{
    font-family: "Creepster", system-ui;
    font-size: 30px;
    color: red;
    margin-left: 200px;
    margin-top: 300px;
    text-align: center;
    width: 500px;
    cursor: help;
    text-decoration: none;
}

div.button-hidden a{
    font-family: "Yarndings 12", system-ui;
    color: rgb(32,32,32);
    font-size: 20px;
    padding: 800px;
    margin: 30px;
    cursor: help;
    text-decoration: none;
}

p.death {
    margin: auto;
    text-align: center;
    font-size: 30px;
    color: red;
    width: 500px;
    font-family: "Creepster", system-ui;
}